/*
* Header Art
*/

.header-contents {
  margin-left: 15vw;
  margin-top: 5vw;
}

.subheader-text {
  font-family:"Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: .15em;
}

.header-title {
  margin-top: 10vw;
  height: 5vw;
  color: #b6afb0;
  font-family:"Raleway", sans-serif;
  font-weight: 300;
  font-size: 45px;
  letter-spacing: .15em;
  text-align: left;
  /*text-shadow: 4px 2px 4px #393939;*/
  border-bottom: 3px solid #ff6200;
  max-width: 185px;
  margin-bottom: 52px;
}

/* Media Queries */
/* lg */
@media (min-width: 1200px){
  .header-title {
    font-size: 45px;
  }


}
/* md */
@media (min-width: 993px) and (max-width: 1200px) {
  .header-title {
    font-size: 45px;
  }


}

/* sm */
@media (min-width: 760px) and (max-width: 992px){
  .header-title {
    font-size: 35px;
    width: 25vw;
    height: 10vw;
    margin-left: 0px;
    border-bottom: 3px solid #ff6200;
  }
    .subheader-text  {
      font-size: 10px;
    }
    #page-scroll {
      font-size: 0.8em;
      height: 3vw;
    }
    /*#page-scroll {
      border-color: rgba(255, 255, 255, 0);
      background-color:rgba(255, 255, 255, 0);
      color:rgba(255, 255, 255, 0);
}*/
}
/* xs */
@media (max-width: 760px) {
  .header-title {
    font-size: 20px;
    width: 18vw;
    height: 12vw;
    margin-left: 20px;
    border-bottom: 3px solid #ff6200;
  }

  .subheader-text  {
    color: rgba(255,255,255,0);
    width: 5vw;
  }
  #page-scroll {
    border-color: rgba(255, 255, 255, 0);
    background-color:rgba(255, 255, 255, 0);
    color:rgba(255, 255, 255, 0);
  }
}






/*
* button
*/

.page-scroll {
  text-decoration: none;
}

.btn {
  border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 2vw;
    width: 15vw;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn:hover {
  box-shadow:
               1px 1px #53a7ea,
               2px 2px #53a7ea,
               3px 3px #53a7ea;
       -webkit-transform: translateX(-3px);
       transform: translateX(-3px);
}
