
/*
* Project Links
*/

.g-hero-flex {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    height: 80px;
    width: 70vw;
}
@media (max-width: 960px) {
    .g-hero-flex {
        flex-flow: column wrap-reverse;
    }
    .g-hero-flex__item {
        width: 80%;
    }
}
.g-hero-flex__item {
    flex-grow: 1;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    transition: .2s all;
    cursor: pointer;
}
@media (min-width: 961px) {
    .g-hero-flex__item {
        height: 100%;
    }
}
.g-hero-flex__item:hover {
    flex-grow: 2;
    box-shadow: inset 0 0 0 100vmax rgba(175, 0, 100, 0.7);
}

.g-hero-flex__title {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .075em;
    color: #fff;
    transition: .2s all;
    display: inline-block;
    width: 40%;
    opacity: 0;
    text-align: center;
}

.g-hero-flex__item:hover .g-hero-flex__title {
    opacity: 1;
}