
/*
* Project Links
*/

.c-hero-flex {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;
}
@media (max-width: 960px) {
  .c-hero-flex {
    flex-flow: column nowrap;
  }
  .c-hero-flex__item {
    width: 100%;
  }
}
.c-hero-flex__item {
  flex-grow: 1;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  transition: .2s all;
  cursor: pointer;
}
@media (min-width: 961px) {
  .c-hero-flex__item {
    height: 100%;
  }
}
.c-hero-flex__item:hover {
  flex-grow: 2;
  box-shadow: inset 0 0 0 100vmax rgba(175, 0, 100, 0.7);
}
.c-hero-flex__item:nth-child(1) {
  background: #222 url("/images/Project01.png") no-repeat;
  background-size: 100%;
  background-position-y: 10%;
}
.c-hero-flex__item:nth-child(2) {
  background: #222 url("/images/summon-auntie.png") no-repeat;
  background-size: 120%;
  background-position-y: 10%;
  background-position-x: 40%
}
.c-hero-flex__item:nth-child(3) {
  background: #222 url("/images/mentormatch.png") no-repeat;
  background-size: 100%;
  background-position-y: 50%;
  background-position-x: 50%
}

.c-hero-flex__item:nth-child(4) {
  background: #222 url("/images/expressive.png") no-repeat;
  background-size: 200%;
  background-position-y: 20%;
  background-position-x: 50%
}

.c-hero-flex__item:nth-child(5) {
  background: #222 url("/images/Sloth.png") no-repeat;
  background-size: 120%;
  background-position-y: 20%;
  background-position-x: 40%
}

.c-hero-flex__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .075em;
  color: #fff;
  transition: .2s all;
  display: inline-block;
  width: 40%;
}


/*
* Description header
*/
.project-description-header {
  background-color: #222;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.1em;
}


/*
* Description
*/


.col-lg-3 {
  width:25%;
  display: inline-block;
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 50px;
  margin:0;
  cursor: pointer;
}

.project-description-link {
  text-decoration: none;
  cursor: pointer;
}

.project-description-box {
    margin: 20px auto 0;
    max-width: 400px;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
}

.fa-4x {
    font-size: 4em;
}

.text-primary {
    color: #f05f40;
    display: block;
    font-size: 4em;
    text-align: center;

}

.project-description-title {
  font-size: 24px;
  display: block;
  color: black;
}


.center-block {
  color: #777;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1.5em;
  font-size: 14px;
}
